body{
	
	background-color: rgb(235, 235, 235);
	font-family: 'Montserrat', sans-serif;
	width: 580px;
	
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/4847466.jpg");
	background-size: 200%;
	background-size: cover;
	background-size: 150%;
	color: rgb(54, 54, 54);
	/* text-shadow: 2px 2px black; */
	
	
	
}

div{
	/* border: 2px solid rgb(235, 235, 235); */
}

.title, #listaHab{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-style: italic;
	
}

.subtitle{
	font-family: 'Montserrat', sans-serif;
}

.header-top{
	height: 160px;
	position: relative;
	display: block;
}

.profile{
	float: left;
	display: inline-block;
}

.description{
	text-align: left;
	margin-left: 170px;
	display: block;
	padding-top: 20px;
	
	
}

.profile-pic{
	width:152px;
	border-radius: 50%;	
}

.links{
	text-decoration: none;
	color: rgb(0, 133, 11);
}

.linkedin{
	text-decoration: none;
	color: rgb(41, 80, 189);
}

.list{
	line-height: 25px;
	margin-bottom: 50px;
}
