
.title{
	font-family: 'Montserrat', sans-serif;
	
}

.subtitle{
	font-family: 'Montserrat', sans-serif;

}

body{
	background-color: rgb(235, 235, 235);
	font-family: 'Montserrat', sans-serif;
}

.perfil-pic{
border-radius: 50%;
width: 6em;
height: 6em;
}

.links{
	text-decoration: none;
	color: rgb(145, 145, 145);
}
