body {
  background-color: rgb(68, 168, 9);
  font-family: 'Montserrat', sans-serif;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(54, 54, 54);
}

main {
  background-color: white;
  padding: 0px 15px;
  border-radius: 15px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  padding-top: 10px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
}

.header-top {
  height: 160px;
  position: relative;
  display: block;
}

.profile {
  float: left;
  display: inline-block;
}

.description {
  text-align: left;
  margin-left: 170px;
  display: block;
  padding-top: 20px;
}

.profile-pic {
  width: 152px;
  border-radius: 50%;
}

.github {
  text-decoration: none;
  color: rgb(0, 133, 11);
}

.linkedin {
  text-decoration: none;
  color: rgb(41, 80, 189);
}

.projetos {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.list {
  line-height: 25px;
  margin-bottom: 50px;
}