.completed {
  text-decoration: line-through;
}

body {
  background-color: #40ad40;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

header {
  background-color: white;
  border-radius: 20px;
  max-width: max-content;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

li {
  user-select: none;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  border-radius: 8px;
  text-align: center;
  margin: 4px;
  border: none;
  outline: none;
  padding: 4px 8px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  user-select: none;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: scale(0.95);
}

.row-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#apaga-tudo,
#remover-selecionado {
  background-color: #90191b;
  color: white;
}

#salvar-tarefas {
  background-color: #40ad40;
  color: white;
}

#mover-cima,
#mover-baixo {
  background-color: #fb7f00;
  color: white;
}

#criar-tarefa,
#remover-finalizados {
  background-color: #0087cf;
  color: white;
}

input {
  border-radius: 8px;
  border: 2px solid #0087cf;
  padding: 2px 8px;
  text-align: center;
  outline: none;
}